XML2JSON/parse-xml-json-demo.xml
<template encoding-version="1.3">
<description/>
<groupId>891ee47e-0171-1000-e6a7-ac8b35428be9</groupId>
<name>ParseXmlJsonDemo</name>
<snippet>
<connections>
<id>0d3d747b-f21e-3c2a-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>cd3b8384-0088-381c-0000-000000000000</groupId>
<id>b971be9d-cb15-3903-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>92238ca0-ac07-3408-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>36b6aab7-49e4-33a4-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>28d6cf8f-74c0-31a3-0000-000000000000</id>
<type>INPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>5f6ce193-fbcc-3459-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>41e2513d-be41-3a56-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>cd3b8384-0088-381c-0000-000000000000</groupId>
<id>3ec74872-8490-348b-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>256d74d0-7181-3aee-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>8cfb300f-2474-3204-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>cd3b8384-0088-381c-0000-000000000000</groupId>
<id>71aa541c-2ea7-383a-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>c36e92c7-d5b9-33d1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>9a647967-25c3-3d57-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>216fc4dd-4b4c-3237-0000-000000000000</id>
<type>INPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>9272e2f6-0c1c-31db-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>be3df0c3-1e4b-3550-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>cd3b8384-0088-381c-0000-000000000000</groupId>
<id>71aa541c-2ea7-383a-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>d12a1f1c-1474-3042-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>bfd3135a-1a2b-36fc-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>cd3b8384-0088-381c-0000-000000000000</groupId>
<id>71aa541c-2ea7-383a-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>52cc99da-28dc-3b54-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<processGroups>
<id>36800cce-8478-3a7d-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>624.0</x>
<y>0.0</y>
</position>
<comments/>
<contents>
<connections>
<id>0cdc0ee0-f968-3df7-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>12b11a19-d7d6-30f2-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>Response</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>76336896-6efb-32d8-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>4103fde2-9d64-3703-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>109af852-2f64-3b19-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>matched</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>12b11a19-d7d6-30f2-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>6628e307-66da-315e-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>d12a1f1c-1474-3042-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>109af852-2f64-3b19-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>738b3111-4f79-3f33-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>d12a1f1c-1474-3042-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>Failure</selectedRelationships>
<selectedRelationships>No Retry</selectedRelationships>
<selectedRelationships>Retry</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>76336896-6efb-32d8-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>7fba3c77-53f6-3340-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>5f6ce193-fbcc-3459-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>109af852-2f64-3b19-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>c8e2dcc1-0118-3d41-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>9272e2f6-0c1c-31db-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>matched</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>12b11a19-d7d6-30f2-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>e7cf65d6-98da-3a65-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>d12a1f1c-1474-3042-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>36800cce-8478-3a7d-0000-000000000000</groupId>
<id>12b11a19-d7d6-30f2-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<outputPorts>
<id>5f6ce193-fbcc-3459-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>1432.0</x>
<y>-336.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>ACQUIRE.JSON.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<outputPorts>
<id>9272e2f6-0c1c-31db-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>1432.0</x>
<y>-608.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>ACQUIRE.XML.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<outputPorts>
<id>d12a1f1c-1474-3042-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>2744.0</x>
<y>-560.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>ACQUIRE.ERROR.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<processors>
<id>109af852-2f64-3b19-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>1920.0</x>
<y>-368.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>XSLT file name</key>
<value>
<name>XSLT file name</name>
</value>
</entry>
<entry>
<key>xslt-controller</key>
<value>
<identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
<name>xslt-controller</name>
</value>
</entry>
<entry>
<key>xslt-controller-key</key>
<value>
<name>xslt-controller-key</name>
</value>
</entry>
<entry>
<key>indent-output</key>
<value>
<name>indent-output</name>
</value>
</entry>
<entry>
<key>secure-processing</key>
<value>
<name>secure-processing</name>
</value>
</entry>
<entry>
<key>cache-size</key>
<value>
<name>cache-size</name>
</value>
</entry>
<entry>
<key>cache-ttl-after-last-access</key>
<value>
<name>cache-ttl-after-last-access</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>XSLT file name</key>
<value>./test.xslt</value>
</entry>
<entry>
<key>xslt-controller</key>
</entry>
<entry>
<key>xslt-controller-key</key>
</entry>
<entry>
<key>indent-output</key>
<value>true</value>
</entry>
<entry>
<key>secure-processing</key>
<value>true</value>
</entry>
<entry>
<key>cache-size</key>
<value>10</value>
</entry>
<entry>
<key>cache-ttl-after-last-access</key>
<value>60 secs</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>Transform XML> JSON</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.TransformXml</type>
</processors>
<processors>
<id>12b11a19-d7d6-30f2-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>1920.0</x>
<y>-640.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Destination</key>
<value>
<name>Destination</name>
</value>
</entry>
<entry>
<key>Return Type</key>
<value>
<name>Return Type</name>
</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>
<name>Validate DTD</name>
</value>
</entry>
<entry>
<key>MIKE.count</key>
<value>
<name>MIKE.count</name>
</value>
</entry>
<entry>
<key>Mike.createTime</key>
<value>
<name>Mike.createTime</name>
</value>
</entry>
<entry>
<key>MIKE.filename</key>
<value>
<name>MIKE.filename</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Destination</key>
<value>flowfile-attribute</value>
</entry>
<entry>
<key>Return Type</key>
<value>auto-detect</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>true</value>
</entry>
<entry>
<key>MIKE.count</key>
<value>count(/*:quakeml/*:eventParameters/*:event)</value>
</entry>
<entry>
<key>Mike.createTime</key>
<value>
/*:quakeml/*:eventParameters/*:creationInfo/*:creationTime
</value>
</entry>
<entry>
<key>MIKE.filename</key>
<value>
/*:quakeml/*:eventParameters/*:creationInfo/*:creationTime
</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>Get Creation Time and Number of Quakes</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.EvaluateXPath</type>
</processors>
<processors>
<id>76336896-6efb-32d8-0000-000000000000</id>
<parentGroupId>36800cce-8478-3a7d-0000-000000000000</parentGroupId>
<position>
<x>1920.0</x>
<y>-904.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>HTTP Method</key>
<value>
<name>HTTP Method</name>
</value>
</entry>
<entry>
<key>Remote URL</key>
<value>
<name>Remote URL</name>
</value>
</entry>
<entry>
<key>SSL Context Service</key>
<value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
</value>
</entry>
<entry>
<key>Connection Timeout</key>
<value>
<name>Connection Timeout</name>
</value>
</entry>
<entry>
<key>Read Timeout</key>
<value>
<name>Read Timeout</name>
</value>
</entry>
<entry>
<key>Include Date Header</key>
<value>
<name>Include Date Header</name>
</value>
</entry>
<entry>
<key>Follow Redirects</key>
<value>
<name>Follow Redirects</name>
</value>
</entry>
<entry>
<key>Attributes to Send</key>
<value>
<name>Attributes to Send</name>
</value>
</entry>
<entry>
<key>Basic Authentication Username</key>
<value>
<name>Basic Authentication Username</name>
</value>
</entry>
<entry>
<key>Basic Authentication Password</key>
<value>
<name>Basic Authentication Password</name>
</value>
</entry>
<entry>
<key>proxy-configuration-service</key>
<value>
<identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
<name>proxy-configuration-service</name>
</value>
</entry>
<entry>
<key>Proxy Host</key>
<value>
<name>Proxy Host</name>
</value>
</entry>
<entry>
<key>Proxy Port</key>
<value>
<name>Proxy Port</name>
</value>
</entry>
<entry>
<key>Proxy Type</key>
<value>
<name>Proxy Type</name>
</value>
</entry>
<entry>
<key>invokehttp-proxy-user</key>
<value>
<name>invokehttp-proxy-user</name>
</value>
</entry>
<entry>
<key>invokehttp-proxy-password</key>
<value>
<name>invokehttp-proxy-password</name>
</value>
</entry>
<entry>
<key>Put Response Body In Attribute</key>
<value>
<name>Put Response Body In Attribute</name>
</value>
</entry>
<entry>
<key>Max Length To Put In Attribute</key>
<value>
<name>Max Length To Put In Attribute</name>
</value>
</entry>
<entry>
<key>Digest Authentication</key>
<value>
<name>Digest Authentication</name>
</value>
</entry>
<entry>
<key>Always Output Response</key>
<value>
<name>Always Output Response</name>
</value>
</entry>
<entry>
<key>Add Response Headers to Request</key>
<value>
<name>Add Response Headers to Request</name>
</value>
</entry>
<entry>
<key>Content-Type</key>
<value>
<name>Content-Type</name>
</value>
</entry>
<entry>
<key>send-message-body</key>
<value>
<name>send-message-body</name>
</value>
</entry>
<entry>
<key>Use Chunked Encoding</key>
<value>
<name>Use Chunked Encoding</name>
</value>
</entry>
<entry>
<key>Penalize on "No Retry"</key>
<value>
<name>Penalize on "No Retry"</name>
</value>
</entry>
<entry>
<key>use-etag</key>
<value>
<name>use-etag</name>
</value>
</entry>
<entry>
<key>etag-max-cache-size</key>
<value>
<name>etag-max-cache-size</name>
</value>
</entry>
<entry>
<key>ignore-response-content</key>
<value>
<name>ignore-response-content</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>HTTP Method</key>
<value>GET</value>
</entry>
<entry>
<key>Remote URL</key>
<value>
https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.quakeml
</value>
</entry>
<entry>
<key>SSL Context Service</key>
</entry>
<entry>
<key>Connection Timeout</key>
<value>5 secs</value>
</entry>
<entry>
<key>Read Timeout</key>
<value>15 secs</value>
</entry>
<entry>
<key>Include Date Header</key>
<value>True</value>
</entry>
<entry>
<key>Follow Redirects</key>
<value>True</value>
</entry>
<entry>
<key>Attributes to Send</key>
</entry>
<entry>
<key>Basic Authentication Username</key>
</entry>
<entry>
<key>Basic Authentication Password</key>
</entry>
<entry>
<key>proxy-configuration-service</key>
</entry>
<entry>
<key>Proxy Host</key>
</entry>
<entry>
<key>Proxy Port</key>
</entry>
<entry>
<key>Proxy Type</key>
<value>http</value>
</entry>
<entry>
<key>invokehttp-proxy-user</key>
</entry>
<entry>
<key>invokehttp-proxy-password</key>
</entry>
<entry>
<key>Put Response Body In Attribute</key>
</entry>
<entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
</entry>
<entry>
<key>Digest Authentication</key>
<value>false</value>
</entry>
<entry>
<key>Always Output Response</key>
<value>false</value>
</entry>
<entry>
<key>Add Response Headers to Request</key>
<value>false</value>
</entry>
<entry>
<key>Content-Type</key>
<value>${mime.type}</value>
</entry>
<entry>
<key>send-message-body</key>
<value>true</value>
</entry>
<entry>
<key>Use Chunked Encoding</key>
<value>false</value>
</entry>
<entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
</entry>
<entry>
<key>use-etag</key>
<value>false</value>
</entry>
<entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
</entry>
<entry>
<key>ignore-response-content</key>
<value>false</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>999990 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>Get Quake Data</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
</relationships>
<state>STOPPED</state>
<style/>
<type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
</contents>
<name>Acquire Data</name>
<variables/>
</processGroups>
<processGroups>
<id>8a1ecb50-6afc-3c9b-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>0.0</x>
<y>280.0</y>
</position>
<comments/>
<contents>
<connections>
<id>2c05a59c-37e2-330c-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>92238ca0-ac07-3408-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>matched</selectedRelationships>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>8f14bfdd-ebe7-3f3b-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>90528fb5-0a9e-3dcf-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>d746377e-f269-3105-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>216fc4dd-4b4c-3237-0000-000000000000</id>
<type>INPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>a386e6a4-b24a-3ec1-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>52cc99da-28dc-3b54-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>8f14bfdd-ebe7-3f3b-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>a394003e-92ad-3441-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>52cc99da-28dc-3b54-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>d746377e-f269-3105-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>ceeef024-3dfc-3e7a-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>0</backPressureObjectThreshold>
<destination>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>8f14bfdd-ebe7-3f3b-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>matched</selectedRelationships>
<source>
<groupId>8a1ecb50-6afc-3c9b-0000-000000000000</groupId>
<id>d746377e-f269-3105-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<inputPorts>
<id>216fc4dd-4b4c-3237-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<position>
<x>3272.0</x>
<y>-424.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.XML.IN</name>
<state>RUNNING</state>
<type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
<id>52cc99da-28dc-3b54-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<position>
<x>3944.0</x>
<y>-112.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.XML.ERROR.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<outputPorts>
<id>92238ca0-ac07-3408-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<position>
<x>3280.0</x>
<y>176.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.XML.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<processors>
<id>8f14bfdd-ebe7-3f3b-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<position>
<x>3224.0</x>
<y>-72.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Destination</key>
<value>
<name>Destination</name>
</value>
</entry>
<entry>
<key>Output: Method</key>
<value>
<name>Output: Method</name>
</value>
</entry>
<entry>
<key>Output: Omit XML Declaration</key>
<value>
<name>Output: Omit XML Declaration</name>
</value>
</entry>
<entry>
<key>Output: Indent</key>
<value>
<name>Output: Indent</name>
</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>
<name>Validate DTD</name>
</value>
</entry>
<entry>
<key>city</key>
<value>
<name>city</name>
</value>
</entry>
<entry>
<key>dataid</key>
<value>
<name>dataid</name>
</value>
</entry>
<entry>
<key>lat</key>
<value>
<name>lat</name>
</value>
</entry>
<entry>
<key>long</key>
<value>
<name>long</name>
</value>
</entry>
<entry>
<key>mag</key>
<value>
<name>mag</name>
</value>
</entry>
<entry>
<key>magInt</key>
<value>
<name>magInt</name>
</value>
</entry>
<entry>
<key>time</key>
<value>
<name>time</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Destination</key>
<value>flowfile-attribute</value>
</entry>
<entry>
<key>Output: Method</key>
<value>text</value>
</entry>
<entry>
<key>Output: Omit XML Declaration</key>
<value>false</value>
</entry>
<entry>
<key>Output: Indent</key>
<value>false</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>true</value>
</entry>
<entry>
<key>city</key>
<value>/*:event/*:description/*:text</value>
</entry>
<entry>
<key>dataid</key>
<value>/*:event/*:origin/@*:dataid</value>
</entry>
<entry>
<key>lat</key>
<value>/*:event/*:origin/*:latitude/*:value</value>
</entry>
<entry>
<key>long</key>
<value>/*:event/*:origin/*:longitude/*:value</value>
</entry>
<entry>
<key>mag</key>
<value>/*:event/*:magnitude/*:mag/*:value</value>
</entry>
<entry>
<key>magInt</key>
<value>floor(/*:event/*:magnitude/*:mag/*:value/number())</value>
</entry>
<entry>
<key>time</key>
<value>/*:event/*:origin/*:time/*:value</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>Get Quake event info</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.EvaluateXQuery</type>
</processors>
<processors>
<id>d746377e-f269-3105-0000-000000000000</id>
<parentGroupId>8a1ecb50-6afc-3c9b-0000-000000000000</parentGroupId>
<position>
<x>3216.0</x>
<y>-288.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Destination</key>
<value>
<name>Destination</name>
</value>
</entry>
<entry>
<key>Output: Method</key>
<value>
<name>Output: Method</name>
</value>
</entry>
<entry>
<key>Output: Omit XML Declaration</key>
<value>
<name>Output: Omit XML Declaration</name>
</value>
</entry>
<entry>
<key>Output: Indent</key>
<value>
<name>Output: Indent</name>
</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>
<name>Validate DTD</name>
</value>
</entry>
<entry>
<key>EVENT_INFO</key>
<value>
<name>EVENT_INFO</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Destination</key>
<value>flowfile-content</value>
</entry>
<entry>
<key>Output: Method</key>
<value>xml</value>
</entry>
<entry>
<key>Output: Omit XML Declaration</key>
<value>false</value>
</entry>
<entry>
<key>Output: Indent</key>
<value>false</value>
</entry>
<entry>
<key>Validate DTD</key>
<value>true</value>
</entry>
<entry>
<key>EVENT_INFO</key>
<value>/*:quakeml/*:eventParameters/*:event</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>Parse Each Quake Event</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.EvaluateXQuery</type>
</processors>
</contents>
<name>Parse XML</name>
<variables/>
</processGroups>
<processGroups>
<id>ff31126b-d9b6-3f6f-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>1312.0</x>
<y>272.0</y>
</position>
<comments/>
<contents>
<connections>
<id>2a9dc0cf-d2fc-3721-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>e0c0dc4f-e985-34f6-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>28d6cf8f-74c0-31a3-0000-000000000000</id>
<type>INPUT_PORT</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>945cd7aa-03b4-3382-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>45081043-6fc3-3009-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>split</selectedRelationships>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>e0c0dc4f-e985-34f6-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>ade3fcf0-d6f7-3027-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>c36e92c7-d5b9-33d1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>e0c0dc4f-e985-34f6-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>b88dd9dd-86f0-3f5f-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>c36e92c7-d5b9-33d1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>45081043-6fc3-3009-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>baa22ed1-6694-3efe-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>256d74d0-7181-3aee-0000-000000000000</id>
<type>OUTPUT_PORT</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>ff31126b-d9b6-3f6f-0000-000000000000</groupId>
<id>45081043-6fc3-3009-0000-000000000000</id>
<type>PROCESSOR</type>
</source>
<zIndex>0</zIndex>
</connections>
<inputPorts>
<id>28d6cf8f-74c0-31a3-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<position>
<x>512.0</x>
<y>88.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.JSON.IN</name>
<state>RUNNING</state>
<type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
<id>256d74d0-7181-3aee-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<position>
<x>512.0</x>
<y>656.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.JSON.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<outputPorts>
<id>c36e92c7-d5b9-33d1-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<position>
<x>1064.0</x>
<y>336.0</y>
</position>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<name>PARSE.JSON.ERROR.OUT</name>
<state>RUNNING</state>
<type>OUTPUT_PORT</type>
</outputPorts>
<processors>
<id>45081043-6fc3-3009-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<position>
<x>456.0</x>
<y>448.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>jolt-transform</key>
<value>
<name>jolt-transform</name>
</value>
</entry>
<entry>
<key>jolt-custom-class</key>
<value>
<name>jolt-custom-class</name>
</value>
</entry>
<entry>
<key>jolt-custom-modules</key>
<value>
<name>jolt-custom-modules</name>
</value>
</entry>
<entry>
<key>jolt-spec</key>
<value>
<name>jolt-spec</name>
</value>
</entry>
<entry>
<key>Transform Cache Size</key>
<value>
<name>Transform Cache Size</name>
</value>
</entry>
<entry>
<key>pretty_print</key>
<value>
<name>pretty_print</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
</entry>
<entry>
<key>jolt-custom-class</key>
</entry>
<entry>
<key>jolt-custom-modules</key>
</entry>
<entry>
<key>jolt-spec</key>
<value>
[ { "operation": "shift", "spec": { "*": "&", "description": { "text": "city" }, "magnitude": { "*": "magnitude_&", "mag": { "value": "mag" } }, "origin": { "*": "origin_&", "longitude": { "value": "longitude" }, "latitude": { "value": "latitude" }, "time": { "value": "time" }, "depth": { "*": "depth_&" } } } } ]
</value>
</entry>
<entry>
<key>Transform Cache Size</key>
<value>1</value>
</entry>
<entry>
<key>pretty_print</key>
<value>false</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>JoltTransformJSON</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>
org.apache.nifi.processors.standard.JoltTransformJSON
</type>
</processors>
<processors>
<id>e0c0dc4f-e985-34f6-0000-000000000000</id>
<parentGroupId>ff31126b-d9b6-3f6f-0000-000000000000</parentGroupId>
<position>
<x>456.0</x>
<y>216.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>JsonPath Expression</key>
<value>
<name>JsonPath Expression</name>
</value>
</entry>
<entry>
<key>Null Value Representation</key>
<value>
<name>Null Value Representation</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>JsonPath Expression</key>
<value>$.q:quakeml.eventParameters.event</value>
</entry>
<entry>
<key>Null Value Representation</key>
<value>empty string</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>SplitJson</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.SplitJson</type>
</processors>
</contents>
<name>Parse JSON</name>
<variables/>
</processGroups>
<processors>
<id>3ec74872-8490-348b-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>1328.0</x>
<y>584.0</y>
</position>
<bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Delete Attributes Expression</key>
<value>
<name>Delete Attributes Expression</name>
</value>
</entry>
<entry>
<key>Store State</key>
<value>
<name>Store State</name>
</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
<value>
<name>Stateful Variables Initial Value</name>
</value>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>
<name>canonical-value-lookup-cache-size</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Delete Attributes Expression</key>
</entry>
<entry>
<key>Store State</key>
<value>Do not store state</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>JSON Data</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
</relationships>
<state>DISABLED</state>
<style/>
<type>
org.apache.nifi.processors.attributes.UpdateAttribute
</type>
</processors>
<processors>
<id>71aa541c-2ea7-383a-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>648.0</x>
<y>312.0</y>
</position>
<bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Delete Attributes Expression</key>
<value>
<name>Delete Attributes Expression</name>
</value>
</entry>
<entry>
<key>Store State</key>
<value>
<name>Store State</name>
</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
<value>
<name>Stateful Variables Initial Value</name>
</value>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>
<name>canonical-value-lookup-cache-size</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Delete Attributes Expression</key>
</entry>
<entry>
<key>Store State</key>
<value>Do not store state</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>ERRORS</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
</relationships>
<state>DISABLED</state>
<style/>
<type>
org.apache.nifi.processors.attributes.UpdateAttribute
</type>
</processors>
<processors>
<id>b971be9d-cb15-3903-0000-000000000000</id>
<parentGroupId>cd3b8384-0088-381c-0000-000000000000</parentGroupId>
<position>
<x>17.0</x>
<y>582.0</y>
</position>
<bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4</version>
</bundle>
<config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Delete Attributes Expression</key>
<value>
<name>Delete Attributes Expression</name>
</value>
</entry>
<entry>
<key>Store State</key>
<value>
<name>Store State</name>
</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
<value>
<name>Stateful Variables Initial Value</name>
</value>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>
<name>canonical-value-lookup-cache-size</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Delete Attributes Expression</key>
</entry>
<entry>
<key>Store State</key>
<value>Do not store state</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
</entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>XML Data</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
</relationships>
<state>DISABLED</state>
<style/>
<type>
org.apache.nifi.processors.attributes.UpdateAttribute
</type>
</processors>
</snippet>
<timestamp>04/18/2020 18:18:24 EDT</timestamp>
</template>